In [31]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [32]:
MODEL_NAME = "fasttext_tweet_disaster_text_base"
#MODEL_NAME = "fasttext_tweet_disaster_text_keyword"
#MODEL_NAME = "fasttext_tweet_disaster_text_location"
#MODEL_NAME = "fasttext_tweet_disaster_text_keyword_location"

In [33]:
df = pd.read_csv("../data/train.csv")
df = df.sample(frac=1)
df_train, df_validate = train_test_split(df, test_size=0.2)

In [34]:
df_train

,id,keyword,location,text,target
778,1126,blew%20up,wherever the $$$ at,Bitch done blew my shit up,0
5270,7532,oil%20spill,Street of Dallas,Refugio oil spill may have been costlier bigge...,1
4728,6724,lava,"Newark, NJ",https://t.co/4i0rKcbK1D\nSON OF SAVIOR LAVA VIDEO,0
7424,10621,wounded,"Brooklyn, NY",I'm liable to sound like a wounded animal duri...,0
6733,9650,thunderstorm,"Lethbridge, Alberta, Canada",[HIGH PRIORITY] SEVERE THUNDERSTORM WATCH ENDE...,1
...,...,...,...,...,...
7376,10559,windstorm,NaN,@charlesadler Ian Lee's word is like 'A fart i...,0
2661,3822,detonate,Brasil,.@no_periferico Apollo Brown - 'Detonate' f. M...,0
5738,8189,rescuers,"Paris, France",Rescuers recover body of 37-year-old Calgary m...,1
1197,1723,buildings%20burning,"Mackay, QLD, Australia",Mmmmmm I'm burning.... I'm burning buildings I...,1
4018,5707,floods,Rio de Janeiro,&gt;As soon as maintenance ends everyone flood...,0

In [35]:
df_validate

,id,keyword,location,text,target
5578,7959,razed,NaN,Former Freedom Surf/Spa Razed to Make Way for ...,0
7072,10129,upheaval,NaN,Loan Upheaval Is The Way In Which Oneself Can ...,0
1811,2603,crashed,Definitely NOT the stables,@spicybreads @coxytown i tried downloading it ...,0
5126,7311,nuclear%20reactor,NaN,Nuclear reactor railguns would be a great way ...,0
7051,10102,typhoon,NaN,Please recover from the Typhoon. ????,1
...,...,...,...,...,...
1644,2374,collapsed,NaN,Zimbabwe is a country with a collapsed governm...,0
2184,3131,debris,NaN,Aircraft debris found on island is from MH370 ...,1
4844,6898,mass%20murder,Auckland,Hiroshima: 70 years since the worst mass murde...,1
1810,2602,crash,"San Francisco, CA",'Crash Test' Trailer: Paul Scheer &amp; Rob Hu...,0
5200,7425,obliterated,Tennessee,WACKOS like #MicheleBachman predict the WORLD ...,1

In [36]:
def create_label_file(df: pd.DataFrame):
    for index, row in df_train.iterrows():
        line = ""

        if row["target"] == 0:
            line += "__label__nondisaster"
        else:
            line += "__label__disaster"

        text = row["text"]
        keyword = row["keyword"]
        #keyword = None
        #location = row["location"]
        location = None

        if not keyword:
            keyword = ""
        if not location:
            location = ""
            
        line += f" {text} {location} {keyword}"

        file.write(line + "\n")

with open(f"../data/{MODEL_NAME}.train", "w") as file:
    create_label_file(df_train)


with open(f"../data/{MODEL_NAME}.valid", "w") as file:
    create_label_file(df_validate)