In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [13]:
df = pd.read_csv("../data/train.csv")
df = df.sample(frac=1)
df_train, df_validate = train_test_split(df, test_size=0.2)

In [14]:
df_train

,id,keyword,location,text,target
7033,10079,typhoon,NaN,nbanews Soudelor Typhoon Soudelor is taking de...,1
3186,4575,emergency%20plan,"Atlanta, GA",b/c it costs less to have sick people using em...,1
3136,4507,emergency,New York,Survival Kit Whistle Fire Starter Wire Saw Cre...,0
2140,3072,deaths,Lagos,[Comment] Deaths of older children: what do th...,1
6738,9655,thunderstorm,"El Dorado, Arkansas",NWS has issued a Severe Thunderstorm Warning f...,1
...,...,...,...,...,...
4709,6695,landslide,NaN,Landslide kills three near Venice after heavyå...,1
3978,5654,flooding,NaN,Wen I finally get the girl I want I'm flooding...,0
1428,2060,casualty,Canada,We're #hiring in our Toronto branch! Surety Un...,0
4300,6106,hellfire,Right next to Compton,@IAN_Hellfire I got it for the mistake but bos...,0
5563,7938,rainstorm,"Pennsylvania, USA",RAIN RAIN GO AWAY... A soaker is on the way \n...,0

In [15]:
df_validate

,id,keyword,location,text,target
4426,6299,hostage,NaN,quoted here--&gt;CNN: Purported ISIS video thr...,1
7236,10364,weapons,NaN,Your Router is One of the Latest DDoS Attack W...,0
5754,8214,riot,NaN,@abran_caballero Discovered by @NickCannon \n ...,0
3520,5033,eyewitness,NaN,The Civil Rights Movement (Eyewitness History ...,0
158,226,airplane%20accident,Canada,DTN Brazil: Experts in France begin examining ...,1
...,...,...,...,...,...
5735,8184,rescuers,NaN,Woman's GPS app guides rescuers to injured bik...,1
6878,9861,traumatised,NaN,I'm so traumatised.,0
6127,8743,siren,NaN,Today is Corii Siren's birthday! Spoil her now...,0
7576,10827,wrecked,NaN,He just wrecked all of you http://t.co/y46isyZkC8,0
3045,4372,earthquake,"Barcelona, Spain",ML 2.0 SICILY ITALY http://t.co/z6hxx6d2pm #eu...,0

In [16]:
def create_label_file(df: pd.DataFrame):
    for index, row in df_train.iterrows():
        line = ""

        if row["target"] == 0:
            line += "__label__nondisaster"
        else:
            line += "__label__disaster"

        tweet_text = row["text"]
        line += f" {tweet_text}"

        file.write(line + "\n")

with open("../data/train_fasttext.train", "w") as file:
    create_label_file(df_train)


with open("../data/train_fasttext.valid", "w") as file:
    create_label_file(df_validate)